.glavno {
    background-color: white;
  height: 100%;
  width:100%;
  text-align: center;

}
.glavno img  {

    display:block;
    padding: 40px;
    width:300px;
    margin-top: 120px;
}
.glavno input {
    display:block;
    margin: auto;
    height: 40px;
    width: 500px;
    -webkit-box-shadow: 14px 11px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 11px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 11px 22px 0px rgba(0,0,0,0.75);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.glavno button {
    height: 40px;
    width: 140px;
    margin-top: 20px;


    background-color: #d3ffce;
}
.gumb-prijava {
    text-align: right;


}
.gumb-prijava a {
    display: inline-block;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 25px;
}

.glavno a {
    text-decoration: none;
}
